/* Polices ------------------------------------------------*/

@font-face {
    font-family: New York;
    src: url(Polices/NewYork.otf);
}

@font-face {
    font-family: Walterosse;
    src: url(Polices/Walterosse.otf);
}

:root {
    --marron-fonce: #282624;
    --marron-clair: #5b473ee8;
    --bleu: rgba(47, 92, 82, 0.245);
    --bleu-fonce: rgb(66, 96, 93);
    --beige-fonce: #a87a717d;
    --beige: #e5d9ce;
    --beige-clair: #ede6e0;

}

/* Général ------------------------------------------------*/

body {
    top: 0;
    margin: 0%;
    padding: 0%;
    background-color: white;
    color: var(--marron-clair);
}

section {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

p {
    margin: 0%;
    padding: 1%;
    padding-bottom: 2%;
    font: 18px 'Times New Roman';
}

h3 {
    font: bold 26px 'New York';
    color: var(--marron-clair);
}

::selection {
    background-color: var(--bleu);
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.copier:hover { 
    cursor: pointer;
}

[data-title] {
    position: relative;

    &::after {
        content: attr(data-title);
        background-color: var(--beige-clair);
        color: var(--marron-clair);
        border-radius: 10px;
        font-size: 80%;
        position: absolute;
        padding: 10px;
        left: 60%;
        bottom: 90%;
        white-space: nowrap;
        visibility: hidden;
    }

    &:hover::after {
        visibility: visible;
        transition-delay: 1s;
    }
}





/* Barre de navigation ------------------------------------------------*/

nav {
    color: white;
    border-radius: 70px;
    width: 160px;
    height: 160px;
    position: fixed;
    margin: 3% 0% 0% 2%;
    display: inline-block;
    z-index: 1;
    
    &:hover .deroulant {
        display: block;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.779);
        border-radius: 30px;
    }
}

nav > a {
    text-decoration: none;
}

.deroulant {
    padding: 1%;
    margin-top: 20%;
    text-align: center;
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.779);
    border-radius: 30px;
}

.deroulant a {
    color: var(--marron-fonce);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.2s ease-in-out;

    &:hover {
        transform: scale(1.2);
    }
}


nav img {
    margin-top: 20%;
    padding: none;
    width: 30%;
    height: 60%;
}

#petales_gauche {
    animation-name: rotation;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    transform-origin: 160% 50%;
}

#petales_droite {
    animation-name: rotation;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    transform-origin: -60% 50%;
}

.deroulant a::first-letter {
    font: bold 50px 'Walterosse';
}




/* Accueil ------------------------------------------------*/

#accueil {
    margin: 0%;
    width: 100%;
    height: 800px;
    background-image: url(Images/Fonds/fond_acc_clair.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    font: 60px 'Walterosse';
    color: var(--marron-fonce);
    margin-bottom: 0%;
}

h2 {
    font: 40px 'Walterosse';
    color: var(--marron-fonce);
    margin-left: 14%;
    margin-top: 0%;
}

#accueil .titres {
    padding-top: 36%;
    margin-left: 12%;
    background-attachment:local;
}





/* Menu ------------------------------------------------------*/

#menu {
    width: auto;
    display: flex;
    margin: 10%;
    margin-left: 15%;
    margin-right: 15%;
}

#menu a {
    width: 50%;
    text-decoration: none;
    margin-left: 5%;
    margin-right: 5%;
}

.elem_menu {
    height: 300px;
    border-radius: 20px;
    position: relative;
    text-align: center;
    background-position: 0%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease-in-out;

    &:hover {
        transform: rotate3D(0, 1, 0.2, 350deg) scale(1.2);
        filter: brightness(1);
        transform-style: preserve-3d;
    }
}

.elem_menu p {
    color: var(--marron-clair);
    top: 43%;
    padding: 4%;
    padding-bottom: 5%;
    position: relative;
}

#version {
    background-image: url(Images/version_decoree.jpg);
}

#theme {
    background-image: url(Images/theme_decoree.jpg);
}

#commentaires {
    background-image: url(Images/commentaires_decoree.jpg);
}













/* Version, thème et commentaires ------------------------------------------------*/

h4 {
    text-align: center;
    padding: 3%;
    padding-top: 10vh;
    margin-left: 18%;
    margin-right: 18%;
    width: auto;
    
    font: bold 40px 'Walterosse';
    letter-spacing: 3vw;
    color: var(--marron-fonce);
    backdrop-filter: blur(2px);
}

.mini_accueil {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: white;
}

#acc_version {
    background-image: url(Images/Fonds/fond_version.jpg);
}

#acc_theme {
    background-image: url(Images/Fonds/fond_theme.jpg);
}

#acc_commentaires {
    background-image: url(Images/Fonds/fond_commentaires.jpg);
}

article {
    margin: 10vh;
    padding: 5%;
    margin-left: 18%;
    margin-right: 18%;
    width: auto;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 30px;
    
    text-align: center;
}

.anglais {
    text-align: justify;
    color: var(--bleu-fonce);
    
    &::first-letter {
        font: bold 40px 'Walterosse';
    }
    
}

.francais {
    text-align: justify;

    &::first-letter {
        font: bold 40px 'Walterosse';
    }
}

article .separation {
    width: 40%;
    height: 50px;
    margin: 2%;
}






/* Mentions légales ------------------------------------------------*/

.bleuuu {
    background-color: var(--bleu);
    text-align: justify;
}

.bleuuu p {
    line-height: 30px;
}








/* Plan du site ------------------------------------------------*/







/* Pied de page ------------------------------------------------*/

footer {
    background-color: var(--beige);
    color: var(--marron-clair);
    display: flex;
    height: 170px;
    padding-left: 15%;
    padding-right: 15%;
    overflow-wrap: break-word;
}

footer section {
    margin: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 10px;
    text-align: center;
}

footer section p {
    font-size: 15px;
    padding: 3%;
    margin-left: auto;
    margin-right: auto;
}

footer section a, article a {
    color: var(--marron-clair);
    text-decoration-style: dotted;
    text-decoration-thickness: 6px;
    text-decoration-color: var(--beige-fonce);
}

footer > img {
    margin: 2%;
    width: 20px;
    transform: rotateZ(1deg);
    height: 80%;
}

footer [data-title]::after {
    background-color: white;
}

footer #creation {
    display: flex;
    padding: 7%;
}

footer .icone {
    width: 36px;
    margin-left: auto;
    margin-right: auto;
}

.tout_ptit {
    font-size: 12px;
    color: var(--marron-clair);
}






/* Pour les Iphones buggés ------------------------------------------------*/

@media (max-device-width:768px) and (orientation: landscape) {
    html {
     -webkit-text-size-adjust: 100%;
     -ms-text-size-adjust: 100%;
    }
}




/* Animations heheheee ------------------------------------------------*/

@keyframes rotation {
    0% {transform: rotateZ(0);}
    42% {transform: rotateZ(180deg);}
    50% {transform: rotateZ(350deg);}
    56% {transform: rotateZ(360deg);}
    100% {transform: rotateZ(360deg);}
}













