/* Polices ------------------------------------------------*/

@font-face {
    font-family: New York;
    src: url(Polices/NewYork.otf);
}

@font-face {
    font-family: Walterosse;
    src: url(Polices/Walterosse.otf);
}

/* Général ------------------------------------------------*/

body {
    margin: 0%;
    padding: 0%;
    background-color: white;
    color: black;
}

section {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

p {
    margin: 0%;
    padding: 1%;
    padding-bottom: 2%;
    font: 18px 'Times New Roman';
}

h3 {
    font: bold 26px 'New York';
    color: black;
}

::selection {
    background-color: rgba(47, 92, 82, 0.245);
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.copier:hover { 
    cursor: pointer;
}

[data-title] {
    position: relative;

    &::after {
        content: attr(data-title);
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
        border-radius: 10px;
        font-size: 80%;
        position: absolute;
        padding: 10px;
        left: 60%;
        bottom: 90%;
        white-space: nowrap;
        visibility: hidden;
    }

    &:hover::after {
        visibility: visible;
        transition-delay: 1s;
    }
}





/* Barre de navigation ------------------------------------------------*/

nav {
    color: #2f4142;
    position: fixed;
    margin-top: 4%;
    margin-left: 2%;
    display: inline-block;
    z-index: 1;
    
    &:hover .deroulant {
        display: block;
    }
}

.deroulant {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.deroulant a {
    color: #6c8f8f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.2s ease-in-out;

    &:hover {
        transform: scale(1.2);
    }
}

nav #logo_nav {
    transition: 1s ease-in-out;
}
nav img {
    margin: none;
    padding: none;
    width: 10%;
    height: 40%;
}

#petales_gauche {
    animation-name: rotation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform-origin: 160% 50%;
}

#petales_droite {
    animation-name: rotation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform-origin: -60% 50%;
}

.deroulant a::first-letter {
    font: bold 50px 'Walterosse';
}




/* Accueil ------------------------------------------------*/

#accueil {
    margin: 0%;
    width: 100%;
    height: 800px;
    background-image: url(Images/fond_acc_sombre.jpg);
    background-size: 100%;
    background-position: center;
}

.mini_accueil {
    height: 300px;
}

h1 {
    font: 60px 'Walterosse';
    color: white;
    margin-bottom: 0%;
}

h2 {
    font: 40px 'Walterosse';
    color: rgba(255, 255, 255, 0.601);
    margin-left: 14%;
    margin-top: 0%;
}

#accueil #titres {
    padding-top: 36%;
    margin-left: 12%;
    background-attachment:local;
}





/* Menu ------------------------------------------------------*/

#menu {
    width: auto;
    display: flex;
    margin: 10%;
    margin-left: 15%;
    margin-right: 15%;
}

.elem_menu {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 300px;
    border-radius: 20px;
    position: relative;
    text-align: center;
    background-position: 0%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease-in-out;

    &:hover {
        transform: rotate3D(0, 1, 0.2, 350deg) scale(1.2);
        filter: brightness(1);
        transform-style: preserve-3d;
    }
}

.elem_menu p {
    color: rgb(0, 0, 0);
    top: 43%;
    padding: 4%;
    padding-bottom: 5%;
    position: relative;
}

#version {
    background-image: url(Images/version_decoree.jpg);
}

#theme {
    background-image: url(Images/theme_decoree.jpg);
}

#commentaires {
    background-image: url(Images/commentaires_decoree.jpg);
}




/* Plan du site ------------------------------------------------*/









/* Pied de page ------------------------------------------------*/

footer {
    background-color: rgb(12, 15, 15);
    color: white;
    display: flex;
    height: 22%;
    padding-left: 15%;
    padding-right: 15%;
}

footer section {
    margin: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    background-color: rgba(99, 99, 99, 0.044);
    border-radius: 30px;
    text-align: center;
}

footer section p {
    padding: 3%;
    margin-left: auto;
    margin-right: auto;
}

footer section a {
    color: white;
    text-decoration-style: dotted;
    text-decoration-thickness: 6px;
    text-decoration-color: rgba(255, 255, 255, 0.214);
}

footer #creation {
    display: flex;
    padding: 7%;
}

footer .icone {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

.tout_ptit {
    font-size: 12px;
    color: rgba(251, 251, 251, 0.738);
}






/* Pour les Iphones buggés ------------------------------------------------*/

@media (max-device-width:768px) and (orientation: landscape) {
    html {
     -webkit-text-size-adjust: 100%;
     -ms-text-size-adjust: 100%;
    }
}




/* Animations heheheee ------------------------------------------------*/

@keyframes rotation {
    0% {transform: rotateZ(0);}
    42% {transform: rotateZ(180deg);}
    50% {transform: rotateZ(350deg);}
    56% {transform: rotateZ(360deg);}
    100% {transform: rotateZ(360deg);}
}













